name: Release

on:
  release:
    types: [released]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Update version property
        uses: Reedyuk/write-properties@v1.0.3
        with:
          path: 'gradle.properties'
          property: 'MODULE_VERSION_NUMBER'
          value: ${{ github.ref_name }}
      - name: Setup cocoapods
        run: gem install cocoapods-generate
      - name: Run gradle build
        run: ./gradlew build
      - name: Run create swift package
        run: ./gradlew createSwiftPackage
      - name: Run publish
        run: ./gradlew publish
        env:
          sonatypeUsernameEnv: ${{ secrets.SONATYPEUSERNAME }}
          sonatypePasswordEnv: ${{ secrets.SONATYPEPASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_KEY_PASS }}
      - name: Archive iOS Framework
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.ref_name }}
          path: swiftpackage/kiterable-${{ github.ref_name }}.zip
      - name: Get last release
        id: lastRelease
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: ${{ github.repository }}
          excludes: prerelease, draft
      - name: upload iOS artifact to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.lastRelease.outputs.id }}
          asset_path: swiftpackage/kiterable-${{ github.ref_name }}.zip
          asset_name: ${{ github.ref_name }}.zip
          asset_content_type: application/zip